.contenedorCaja {
    display: flex;
    margin-left: 8em;

}

.d-block {
    height: 264px !important;
}

.lista {
    display: flex;
    border: 1px solid pink;
    flex-direction: column;
}

.nombreLista {
    display: flex;
}

.unibox {
    display: flex;
    flex-direction: column;
}

.unibox-img{
    width:30em;
    margin-bottom:2em;
}