.contenedorCaja {

    display: flex;

}

.d-block {
    height: 264px !important;
}

.lista {

    display: flex;

    flex-direction: column;
}

.nombreLista {
    display: flex;
}

.unibox {
    display: flex;
    flex-direction: column;
}

.btn:not(:disabled):not(.disabled) {
    background-color: red !important;
}

.comprarIngredientes {
    background-color: grey !important;
}

.imagenBox {
    height: 183px;
}

.contenedorCarusel {}

.textoInicial {
    font-weight: 800;
}