@font-face {
    font-family: Clarendon-Regular;
    src: local('Clarendon'),
      local('Clarendon Regular'),
      local('Clarendon-Regular'),
      url(../fonts/clarendon-regular.ttf);
  }

@font-face {
    font-family: 'Apex Sans Book';
    src: local('Apex-Sans-Book'),
      local('Apex Sans Book'),
      local('ApexSansBook'),
      url(../fonts/ApexSansBook.ttf);
  }

.contenedorCaja {
    display: flex;

}

.caja-carrusel{
    height:264px;
}

.img-carrusel{
    margin-top: 2em;
    padding:0px;
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 1em;
    margin-left: 1em;
    font-family: 'Apex Sans Book';
}

.lista {
    display: flex;
    flex-direction: column;
}

.nombreLista {
    display: flex;
    width: 20em;
}

.box-title{
    font-family: Clarendon-Regular;
    margin-left: 5.5em;
}

.textoInicial{
    margin-left:6.5em;
    font-family: Clarendon-Regular;
}

.texto-caja{
    margin-left: 6.5em;
    font-family: 'Apex Sans Book';
}
.unibox {
    display: flex;
    flex-direction: column;
}

.btn-compra {
    background-color: red !important;
    width: 15em;
    padding: 0.5em;
    margin-top: 350px;
}

.comprarIngredientes {
    background-color: red !important;
    margin-left:1em;
    width: 15em;
    padding: 0.6em;
}

.imagenBox {
    height: 11em;
    margin-left: 37px;
}

.descripcion{
margin-left: 6.5em;
margin-right: 9em;
}

.box{
    min-height: 330px;
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .textoInicial{
        margin-left:3.5em;
        font-family: Clarendon-Regular;
    }

    .descripcion{
        margin-left: 3.5em;
        margin-right: 9em;
        }

    .imagenBox {
    height: 10em;
    margin-left: 30px;
        } 
}