@font-face {
    font-family: Clarendon-Regular;
    src: local('Clarendon'),
      local('Clarendon Regular'),
      local('Clarendon-Regular'),
      url(../fonts/clarendon-regular.ttf);
  }

@font-face {
    font-family: 'Apex Sans Book';
    src: local('Apex-Sans-Book'),
      local('Apex Sans Book'),
      local('ApexSansBook'),
      url(../fonts/ApexSansBook.ttf);
  }

.contenedorCaja {
    display: flex;
    margin-left: 6.4em;

}

.img-carrusel{
    margin-top: 2em;
    padding:0px;
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 1em;
    margin-left: 1em;
    font-family: 'Apex Sans Book';
}

.lista {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}

.nombreLista {
    display: flex;
    width: 20em;
}

box-title{
    font-family: Clarendon-Regular;
    margin-left: 5.5em;
}

.textoInicial{
    margin-left:6.5em;
    font-family: Clarendon-Regular;
}

.texto-caja{
    margin-left: 6.5em;
    font-family: 'Apex Sans Book';
}
.unibox {
    display: flex;
    flex-direction: column;
}

.btn-compra {
    margin-top: 5.7em;
    background-color: red !important;
    width: 15em;
    padding: 0.5em;
}

.comprarIngredientes {
    background-color: red !important;
    margin-left:1em;
    width: 15em;
    padding: 0.6em;
}

.imagenBox {
    height: 11em;
}

.descripcion{
margin-left: 6.5em;
margin-right: 9em;
}