@media screen and (max-width:768px) {
  .carousel-item {
    float: left;
    width: 100%;
    height:50%;
    margin-right: -100%;
  }
}


@media screen and (max-width:1024px) {
  .carousel-item {
    float: left;
    width: 100%;
    height:50%;
    margin-right: -100%;
  }
}

@media screen and (max-width: 684px){
  .carousel-item {
    float: left;
    width: 100%;
    height:50%;
    margin-right: -100%;
  }
}


@media screen and (max-width:734px) {
  .carousel-item {
    float: left;
    width: 100%;
    height:50%;
    margin-right: -100%;
  }
}

@media screen and (max-width: 425px) {
  .carousel-item {
    float: left;
    width: 100%;
    height:50%;
    margin-right: -100%;
  }
}

@media screen and (max-width: 412px) {
  .carousel-item {
    float: left;
    width: 100%;
    height:50%;
    margin-right: -100%;
  }
}



