.d-block {
  height: 264px !important;
}
@media screen and (max-width:768px) {
  .d-block {
    height: 150px;
}
}

@media screen and (max-width:1024px) {
  .d-block {
    height: 150px;
}
}

@media screen and (max-width: 684px){
  .d-block {
    height: 250px;
}
}


@media screen and (max-width:734px) {
  .d-block {
    height: 150px;
}
}

@media screen and (max-width: 425px) {
  .d-block {
    height: 150px;
}
}

@media screen and (max-width: 412px) {
  .d-block {
    height: 150px;
}
}



