
.videos{
    width: 250px;
    height:125px ;
}

@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px){
    .videos {
        width: 304px;
        height: 170px;
    }

    .pilas{
        display: flex;
        align-items: inherit;
    }
}
 
@media screen and (min-width:425px) and (max-width : 767px){
    .videos{ 
    width: 357px;
    height: 201px;
}
}

@media screen and (min-width: 768px) and (max-width:1023px){
    .videos {
        width: 675px;
        height: 400px;

    }


    .pilas{
        display: flex;
        align-items: inherit;
    }
}

@media (min-width: 1024px) {
    .videos {
        width: 1075px;
        height: 600px;
    }

    .pilas{
        display: flex;
        align-items: inherit;
    }
}

/*@media screen and (min-width: 425px) and (max-width:){
    .videos {
        width: 675px;
        height: 400px;

    }
}*/
