@media screen and (max-width: 425px) {
    .videos {
        text-align: center;

    }

    .pilas{
        display: flex;
        align-items: inherit;
    }
}
@media screen and (max-width: 768px) {
    .videos {
        width: 675px;
        height: 400px;

    }


    .pilas{
        display: flex;
        align-items: inherit;
    }
}



@media (min-width: 1024px) {
    .videos {
        width: 1075px;
        height: 600px;
    }

    .pilas{
        display: flex;
        align-items: inherit;
    }
}



@media screen and (max-width: 768px) {
    .videos {
        width: 675px;
        height: 400px;

    }

    .pilas{
        display: flex;
        justify-content: space-between;
    }
}