@media screen and (max-width: 325px) {
    .videos {
        
            width: 250px;
            height: 150px;
    
        

    }
}
@media screen and (max-width: 425px) {
    .videos {
        text-align: center;

    }
}
@media screen and (max-width: 768px) {
    .videos {
        width: 675px;
        height: 400px;

    }
}


@media (min-width: 1024px) {
    .videos {
        width: 1075px;
        height: 600px;
    }
}

@media screen and (max-width: 768px) {
    .videos {
        width: 675px;
        height: 400px;

    }
}