@font-face {
  font-family: 'Clarendon-Regular';
  src: local('Clarendon'),
       local('Clarendon Regular'),
       local('Clarendon-Regular'),
       url(../fonts/clarendon-regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Apex Sans Book';
  src: local('Apex-Sans-Book'),
       local('Apex Sans Book'),
       local('ApexSansBook'),
       url(../fonts/ApexSansBook.ttf) format('ttf');
}

body{
  overflow-x: hidden;
}

.row{
  padding: 15px;
}

li{
  list-style:none;
  font-family: Apex Sans Book;
}

.col{
  font-family: Clarendon-Regular;
}

.logo{
height: 1em;
}

.footer-img{
  vertical-align: middle;
  border-style: none;
  height: 10em;
}

.container{
  position: relative;
  bottom: 0;
  width: 100vw;
}

.redes{
  text-decoration: none;
  color:black;
  cursor: pointer;
  font-family: Apex Sans Book;
}

.redes:hover{
  color:#e05041;
  text-decoration: none;
  cursor:pointer;
  font-family: Apex Sans Book;
}

/*media*/
@media screen and (max-width:768px ) {
  img.logo{
    height: 2em;
    margin-left: 1%;
  }

  .footer-img{
    vertical-align: middle;
    border-style: none;
    height: 5vh;
    width: 104vw;
    margin-bottom: 1em;
    }  

  .col{
    margin-left: 0;
    } 
}
@media screen and (max-width: 425px) {
  img.logo{
    height: 2em;
    margin-left: 1%;
  }

 .footer-img{
    vertical-align: middle;
    border-style: none;
    height: 5vh;
    width: 104vw;
    margin-bottom: 1em;
  } 

  .col{
    margin-top: 3em;
    left:0;
     } 
}