@font-face {
  font-family: Clarendon-Regular;
  src: local('Clarendon'),
    local('Clarendon Regular'),
    local('Clarendon-Regular'),
    url(../fonts/clarendon-regular.ttf);
}

@font-face {
  font-family: 'Apex Sans Book';
  src: local('Apex-Sans-Book'),
    local('Apex Sans Book'),
    local('ApexSansBook'),
    url(../fonts/ApexSansBook.ttf);
}

body {
  overflow-x: hidden;
}

footer{
  background-image: url(../Assets/img/Fruits.png);
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: contain;
}

li {
  list-style: none;
  font-family: Apex Sans Book;
}

.col-sm-4 {
  font-family: Clarendon-Regular;
}

img.logo {
  height: 3em;
}

.footer-img {
  vertical-align: middle;
  border-style: none;
  height: 10em;
}

.redes {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: Apex Sans Book;
}

.redes:hover{
  color:#e05041;
  text-decoration: none;
  cursor: pointer;
  font-family: Apex Sans Book;
}