@font-face {
  font-family: 'Clarendon-Regular';
  src: local('Clarendon'),
    local('Clarendon Regular'),
    local('Clarendon-Regular'),
    url(../fonts/clarendon-regular.ttf);
}

@font-face {
  font-family: 'Apex Sans Book';
  src: local('Apex-Sans-Book'),
    local('Apex Sans Book'),
    local('ApexSansBook'),
    url(../fonts/ApexSansBook.ttf);
}

body {
  overflow-x: hidden;
}

.row {
  padding: 15px;
}

li {
  list-style: none;
  font-family: Apex Sans Book;
}

.col {
  font-family: Clarendon-Regular;
}

img.logo {
  height: 3em;
  margin-left: 6em;
}

.footer-img {
  vertical-align: middle;
  border-style: none;
  height: 10em;
}

.container {
  position: relative;
  bottom: 0;
  width: 100vw;
}

.redes {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: Apex Sans Book;
}

.redes:hover{
  color:#e05041;
  text-decoration: none;
  cursor: pointer;
  font-family: Apex Sans Book;
}

/*media*/
@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
  }

  img.logo {
    height: 2em;
    margin-left: 3.2em;
  }

  .footer-img {
    vertical-align: middle;
    border-style: none;
    height: 10vh;
    width: 104vw;

    }  

  .col{
    margin-left: 0;
    } 
}


@media screen and (max-width:1024px) {
  body{
    overflow-x: hidden;
  }

  img.logo {
    height: 2em;
    margin-left: 3.5em;
  }

  .footer-img {
    vertical-align: middle;
    border-style: none;
    height: 10vh;
    width: 104vw;

    }  

  .col{
    margin-left: 0;
    } 
}

@media(max-width:1024px) and (orientation: landscape){
  body{
    overflow-x: hidden;
  }

  img.logo {
    height: 2em;
    margin-left: 3.5em;
  }

  .footer-img {
    vertical-align: middle;
    border-style: none;
    height: 18vh;
    width: 102vw;

    }  

  .col{
    margin-left: 0;
    } 
}

@media screen and (max-width:734px) {
  body{
    overflow-x: hidden;
  }

  .logo {
    height: 2em;
  }

  .footer-img {
    vertical-align: middle;
    border-style: none;
    height: 12vh;
    width: 104vw;

    }  

  .col{
    margin-left: 0;
    } 
}

@media (max-width:736px) and (orientation: landscape){
  body{
    overflow-x: hidden;
  }

  .logo {
    height: 2em;
  }

  .footer-img {
    vertical-align: middle;
    border-style: none;
    height: 20vh;
    width: 104vw;

    }  

  .col{
    margin-left: 0;
    } 
}

@media screen and (max-width: 425px) {
  body{
    overflow-x: hidden;
  }

  img.logo{
    height: 2em;
    margin-left: 2em;
  }

 .footer-img{
    vertical-align: middle;
    border-style: none;
    height: 5vh;
    width: 104vw;

  } 

  .col{
    margin-top: 3em;
    left:0;
     } 
}

@media screen and (max-width: 412px) {
  body{
    overflow-x: hidden;
  }

  img.logo{
    height: 2em;
    margin-left: 2em;
  }

 .footer-img{
    vertical-align: middle;
    border-style: none;
    height: 5vh;
    width: 104vw;
  } 

  .col{
    margin-top: 3em;
    left:0;
     } 
}

@media screen and (max-width: 684px){

  body{
    overflow-x: hidden;
  }

  img.logo{
    height: 2em;
    margin-left: 1.7em;
  }

 .footer-img{
    vertical-align: middle;
    border-style: none;
    height: 7vh;
    width: 104vw;
  } 

  .col{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     } 
}

@media (max-width: 684px) and (orientation: landscape){

  body{
    overflow-x: hidden;
  }

  .logo{
    height: 2em;
    margin-left: 1em;
  }

 .footer-img{
    vertical-align: middle;
    border-style: none;
    height: 20vh;
    width: 100vw;
  } 

  .col{
    margin-top: 3em;
    left:0;
     } 
}

@media (max-width: 812px) and (orientation: landscape){

  body{
    overflow-x: hidden;
  }

  img.logo{
    height: 2em;
    margin-left: 1%;
  }

 .footer-img{
    vertical-align: middle;
    border-style: none;
    height: 21vh;
    width: 100vw;
  } 

  .col{
    margin-top: 3em;
    left:0;
     } 
}