 @font-face {
  font-family: Clarendon-Regular;
  src: local('Clarendon'),
    local('Clarendon Regular'),
    local('Clarendon-Regular'),
    url(../fonts/clarendon-regular.ttf);
}

.centering{
  margin: 0 auto;
}

a,
a:hover {
  color: #000;
  font-family: Clarendon-Regular;
}

.bg-light {
  background-color: #ffffff!important;
}

img.logo {
  height: 3em;
}

.nav-link:hover{
  color:#e05041;
}