@font-face {
  font-family: 'Clarendon-Regular';
  src: local('Clarendon'),
    local('Clarendon Regular'),
    local('Clarendon-Regular'),
    url(../fonts/clarendon-regular.ttf) format('ttf');
}

.row {
  padding: 15px;
}


a,
a:hover {
  color: #000;
  font-family: Clarendon-Regular;
}

.bg-light {
  background-color: #ffffff!important;
}

.logo {
    height: 50px;
}

.nav-item{
margin-left: 1em;
}

.navbar-nav{
margin-left: 40%;
}

.nav-link:hover{
  color:#e05041;
}

/*media*/
@media screen and (max-width:768px ) {
  .logo{
      height: 2em;
      display: flex;
      justify-content: center;
  } 

  .nav-link {
    display: block;
    padding: .5rem 1rem;
    margin-left: -3em;
}

}
@media screen and (max-width: 425px) {
  .logo {
      height: 2em;
      margin-left: 6em;
  }

  .nav-link {
    display: block;
    padding: .5rem 1rem;
    margin-left: -3em;
}

}