@font-face {
  font-family: Clarendon-Regular;
  src: local('Clarendon'),
    local('Clarendon Regular'),
    local('Clarendon-Regular'),
    url(../fonts/clarendon-regular.ttf);
}

.row {
  padding: 15px;
}


a,
a:hover {
  color: #000;
  font-family: Clarendon-Regular;
}

.bg-light {
  background-color: #ffffff!important;
}

.navbar-expand-lg .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 29.4em;
}

img.logo {
  height: 3em;
  margin-left: 3.1em;
}

.nav-item{
margin-left: 1em;
}

.navbar-nav{
margin-left: 28em;
}

.nav-link:hover{
  color:#e05041;
}

/*media*/
@media screen and (max-width:768px ) {
  body{
    overflow-x: hidden;
  }

  .logo{
      height: 2em;
      display: flex;
      justify-content: center;
  } 

  .nav-link {
    display: block;
    padding: .5rem 1rem;
    margin-left: -3em;
}

}
@media screen and (max-width: 425px) {
  body{
    overflow-x: hidden;
  }

  .logo {
      height: 2em;
      margin-left: 6em;
  }

  .nav-link {
    display: block;
    padding: .5rem 1rem;
    margin-left: -3em;
  }
}

@media(min-width: 992px){
  body{
    overflow-x: hidden;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-nav{
  margin-left: 22.6em;
  }
}

/*ipad 10.2*/
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 264dpi),
  only screen and (                min-resolution: 2dppx) { 

    body{
      overflow-x: hidden;
    }

    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      margin-left: 20em;
  }

  .nav-item{
    margin-left: 5em;
    }
}
  