@font-face {
  font-family: 'Apex Sans Book';
  src: local('Apex-Sans-Book'),
    local('Apex Sans Book'),
    local('ApexSansBook'),
    url(../fonts/ApexSansBook.ttf);
}

body{
  background-color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Apex Sans Book';
}

.tipo-dieta{
  font-weight: bold;
}

