.padre{
   display:flex;
   flex-direction: row;
   justify-content: center;
}
.prueba{
width: 50%;
 margin-left:21.5rem;
    
    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) {

    .padre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 1rem;
    }
    .prueba{

        width: 100%;
            margin-left: 6.5rem;
        
        
        
    }
}

