
.padre{
margin-right: 30rem;
  
}
.carousel-inner.prueba{
    display:flex;
    justify-content: center; 
    align-items: center;

    
}


 
 @media only screen 
 and (min-device-width : 768px)  and (max-device-width :1023px)
  {
 
.padre{
    margin-right: 15rem;
      
    }
   
 
}
 
@media only screen 
and (min-device-width : 1024px) and (max-device-width :1339px)

 {

.padre{
   margin-right: 19.5rem;
     
   }
  

}

@media (min-width: 1440px) {

    .padre{
        margin-right: 35rem;
          
  }
}